body{
	background-color: #666666;
}

h1, h2{
	font-family: 'PT Sans Narrow', sans-serif;
	clear: both;
	color: #f8a94e;
}

p, li, th, td {
	font-family: Helvetica, Arial;
	font-size: 18px;
	color: #f8a94e;
}

a:link, a:visited {
	color: #a00;
	text-decoration: none;
}

a:hover, a:active {
	color: red;
}

ul.nav  {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

ul.nav li {
	float: left;
	text-align: center;
}

ul.nav a:link, ul.nav a:visited {
	display: block;
	width: 165px;
	color: white;
	background-color: #aaff80;
	padding: 3px;
	text-decoration: none;
}

ul.nav a:hover, ul.nav a:active {
	background-color: #66d9ff;
}

div.container {
	width: 700px;
	margin: auto;
}

table {
	width: 100%;
}

table td {
	border-width: 1px;
	border-style: solid;
	border-color: black;
}

img{
 margin:22px 10px 10px 0px;
}
